rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // SCHEDULE: 認証済みユーザーのみ読み書き可
    match /SCHEDULE/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
